
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}
.contact{
    position:relative;
    min-height: 100vh;
    padding: 30px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: column;
}
.main__btn_1{
    font-size: 1.8rem;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #ae3636);
    padding: 20px 60px;
    border: none;
    border-radius: 50px;
    margin-top: 2rem;
    cursor: pointer;
}
.main__btn_1 a{
    text-decoration: none;
    color: white;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p {
   
    font-weight: 300;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .ContactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .ContactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .ContactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
    align-items: center;
}
.container .ContactInfo .box .text{
    display: flex;
    margin-left:20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .ContactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}
.contactForm{
    width:80%;
    padding: 40px;
    background: linear-gradient(
        to right,
        #2657eb,
        #de6161
      );
      border-radius: 20px;
}
.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top:10px ;
    
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 15px;
    border: none;
}
.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 5px;
    font-size: 12px;
    margin: 5px 0;
   
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span ,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:valid ~ span,
.contactForm .inputBox textarea:valid ~ span { 
    color: #e91e63;
    font-size:12px;
    transform:translate(-20px)
}
@media (max-width:991px)
{
    .contact
    {
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .ContactInfo {
        width: 100%;
    }
    .container .ContactInfo,
    .contactForm
    {
        width: 100%;
    }
}
